# API Configuration
VITE_REACT_APP_API_URL=http://localhost:5000/api

# Authentication Configuration
VITE_REACT_APP_AZURE_CLIENT_ID=
VITE_REACT_APP_AZURE_TENANT_ID=
VITE_REACT_APP_REDIRECT_URI=http://localhost:5174/auth/callback

# App Configuration
VITE_APP_NAME=Genfuze.ai
VITE_APP_VERSION=1.0.0 